# PANDAS -- DATAFRAME AND SERIES

#### Series - one dimensionsal array object and Dataframe two dimensional size mutable.

In [1]:
import pandas as pd

In [4]:
#Series

data=[1,2,3,4,5]
series = pd.Series(data)
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
data = {'a':1, 'b':2, 'c': 3}
series_dict=pd.Series(data)
print(series_dict)

a    1
b    2
c    3
dtype: int64

In [10]:
## To manipulation in excel files as we have so many rows and columns present.
data=[10,20,30]
index = ['a','b','c']
pd.Series(data, index=index)

a    10
b    20
c    30
dtype: int64

In [13]:
# Dataframe -- Two dimensional, mutable- similar to tables -- multiple rows and columns
## Create a Dataframe from a dictionery of list


data ={
    'Name':['Manya', 'Ambitious', 'Strong'],
    'Age': [1,2,3],
    'City':['UK', 'US', 'Canada']
}

df = pd.DataFrame(data)
print(df)
print(type(df))

        Name  Age    City
0      Manya    1      UK
1  Ambitious    2      US
2     Strong    3  Canada
<class 'pandas.core.frame.DataFrame'>

In [14]:
## Skipped the column names

import numpy as np
np.array(df)

array([['Manya', 1, 'UK'],
       ['Ambitious', 2, 'US'],
       ['Strong', 3, 'Canada']], dtype=object)

In [20]:
## Create a Data Frame from a List of Dictionaries

data=[
    {'Name': 'Manya', 'Age':20, 'City':'Australia'},
    {'Name': 'Sanya', 'Age':22, 'City':'Delhi'},
    {'Name': 'Vanya', 'Age':32, 'City':'UK'},
    {'Name': 'Tanya', 'Age':32, 'City':'USA'}
]

df = pd.DataFrame(data)
print(df)
print(type(df))

    Name  Age       City
0  Manya   20  Australia
1  Sanya   22      Delhi
2  Vanya   32         UK
3  Tanya   32        USA
<class 'pandas.core.frame.DataFrame'>